.calculator-container {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: solid 1px grey;
}

.input {
    display: inline-block;
    margin: auto;
    padding: 10px;
    border: solid 1px grey;
    width: 95%;
    font-size: 30px;
    height: 40px;
    text-align: right;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.button {
    padding: 15px 25px;
    margin: 10px;
    font-size: 1em;
}

#equal {
    grid-row: 2 / 6;
    grid-column: 4;
    background-color:greenyellow;
}